
.App {
  text-align: center;
  background-color: #1A1B21;
  width: 317px;
  justify-content: center;
  align-items: center;
  margin:auto;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-family: 'Righteous', cursive;
  letter-spacing:0.02cm;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic{
  width: 317px;
}
.name{
  font-size: 30px;
  margin: 0.5rem;
}
.domain{
  font-size: 20px;
  color: #F3BF99;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}
.web{
  font-size: 15px;
 
}

.email{
  width: 310px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.email a{
  text-decoration: none;
  color: #374151;
}

.main{
  
  margin-top:2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: left;
}


.footer{
  background-color: #313136b6;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;

}

.footer-1{
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-1 .linkdin{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #374151;
  margin: 0.5rem;
  text-decoration: none;
}

.footer-1 .github{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #374151;
  margin: 0.5rem;
  text-decoration: none;
}
.footer-2{
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer-2 .facebook{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #374151;
  margin: 0.5rem;
  text-decoration: none;
}
.footer-2 .instagram{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #374151;
  margin: 0.5rem;
  text-decoration: none;
}